{% extends 'perfil/base.html' %}

{% block content %}

    <!--Título-->
    <div class="container bg-success text-center p-2 text-light">

        <h1 >Seja muito bem-vindo ao meu blog profissional!</h1>
        <p class="fs-5">Confira aqui um pouco dos meus gostos e da minha trajetória até agora.</p>

    </div>

    <!--Sobre mim-->
    <div class="container my-5">

        <h2 class="text-center my-4">
            Meu perfil.
        </h2>
        
        <div class="row">

            <div class="col col-8 text-center">
                <img src="#" alt="Minha foto" class="img-fluid rounded-circle">
            </div>

            <div class="col col-4 text-center">
                
                <p class="fs-5">Olá, meu nome é Emanuel e estou atualmente cursando o último 
                ano do ensino médio no IFRN-PDF. Possuo 19 anos e pretendo me formar em medicina
                assim que possível.</p>

            </div>

        </div>


    </div>

    <!-- Seção de Cursos -->
    <div class="container bg-light py-5">

        <h2 class="text-center">Meus cursos até o atual momento</h2>

        <div class="card" style="width: 18rem;">
            <img src="#" class="card-img-top" alt="...">
            <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>

    </div>

    <div class="container py-5">

        <h2 class="text-center">Meus principais hobbies</h2>

        <div class="card" style="width: 18rem;">
            <img src="#" class="card-img-top" alt="...">
            <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>

    </div>

{% endblock %}