{% extends 'perfil/base.html' %}

{% block content %}

    <h1>Sobre mim</h1>
    <p>Meu nome é Emanuel Arthur de Souza Brito, sou estudante do curso técnico em informática. 
    Tenho 19 anos de pura história e vivências as quais me orgulho muito.</p>

    <h2>Minha missão</h2>
    <p>Sinto que nasci para ajudar os outros. Desde pequeno sonho em ser alguém capaz de fazer a diferença na vida do próximo
    , por isso, tenho o objetivo de fazer medicina e cumprir o meu propósito aqui na terra.</p>

    <h2>O que você vai encontrar aqui</h2>
    <p>Em meu blog, você encontrará tudo aquilo que se mostrou presente na minha vida, 
    indo desde meus cursos até os meus hobbies.</p>

    <h2>Como tudo Começou</h2>
    <p>A minha vida acadêmica começou desde cedo, pois meus pais são professores
    . A minha história com esse curso teve início por conta do status que me foi repassado, como também a proposta muito promissora</p>

    <h2>Vamos conversar?</h2>
    <p>Se você quiser saber mais sobre mim ou sobre o meu trabalho, sinta-se à vontade para <a href="#">entrar em contato.</a></p>

{% endblock %}